In [72]:
import pandas as pd

In [89]:
phylum = pd.read_csv("data/phylum.csv")
#phylum.drop(columns=["Kingdom"], inplace=True)
#phylum = phylum.transpose()
#phylum = phylum.set_index("Phylum").T.rename_axis("Muestra").reset_index().set_index("Muestra")

In [94]:
phylum.loc[["S1"]]

,Crenarchaeota,Euryarchaeota,Halobacterota,Thermoplasmatota,Abditibacteriota,Acidobacteriota,Actinobacteriota,Armatimonadota,Bacteroidota,Bdellovibrionota,...,Patescibacteria,Planctomycetota,Proteobacteria,RCP2-54,SAR324 clade(Marine group B),Spirochaetota,Sumerlaeota,Synergistota,Verrucomicrobiota,WPS-2
Sample,,,,,,,,,,,,,,,,,,,,,
S1,0.0,0,0,0,0,0.0,0.26082,0,0.065205,0.0,...,0.0,0.0,0.431983,0,0,0,0,0,0.016301,0